body {
    margin: 0;
}
#header {
    /* Test */
    /* width: 1500px; */
    height: 30px;
    /* margin: 50px 10px 50px 10px; */
    margin: 3% 1% 3% 1%;
    border-bottom: 1px solid #808080;
}
#header a {
    /* Test */
    margin-left: 4%;
    padding: 0.5%;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header .highlight {
    color: #0071c1;
    font-weight: bold;
    margin-left: 0%;
}
#header a:hover {
    color: #0071c1;
    border-bottom: 4px solid #0071c1;
}
#leftnav {
    display: inline-block;
    float: left;
    width: 20%;
    margin: 0 1% 2% 1%;
    line-height: 2.8em;
}
#leftnav a:hover {
    background-color: #e3e4e5;
    color: #0071c1;
    border-left: 3px solid #0071c1;
}
#leftnav a {
    display: inline-block;
    width: 70%;
    left: 0%;
    padding: 1%;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
a.click {  
    border-left: 3px solid #0071c1;
    color: #0071c1;
}
#main {
    display: inline-block;
    float: left;
    width: 76%;
    margin: 0 2% 0 0;
}
#main h1,h3,h5,label {
    font-family: Arial, Helvetica, sans-serif;
}
#main h5 {
    color: #808080;
    margin: 0 0 10px 0;
}
#main h1 {
    color: #000;
    display: inline-block;
    margin: 0 0 30px 0px; 
}
#main label {
    background-color:#fff1d2;
    font-weight: bold;
    padding: 3 3px 0 3px;
    margin-left: 10px;
    font-size: 10px;
}
#main p {
    margin: 20px 0px 40px 0px;
}
#main h2 {
    color: #0071c1;
}
#griddetailed p {
    margin: 0;
}
.gridcontainer {
    background-color: #e3e4e5;
    padding: 1% 0 0 1%;
    text-align: center;
}
.row::after,.gridcontainer::after {
    content: '';
    clear: both;
    display: block;
}
.row {
    margin-bottom: 10px;
}
.row > div {
    box-sizing: border-box; /*padding is included in the width */
    padding: 10px;
    background-color: #727272;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1%;
}
.one-half {
    float: left;
    width: 49%;
}
.two-thirds {
    float: left;
    width: 65.67%;
}
.one-third {
    float: left;
    width: 32.3%;
}
.one-fourth {
    float: left;
    width: 24%;
}
.one-sixth {
    float: left;
    width: 15.66%;
}
.one-twelvth {
    float: left;
    width: 7.33%;
}
.gridcontainer.detailed {
    background-color: #727272;
    text-align: start;
}
.detailed .row > div {
    background-color: #e3e4e5;
    line-height: 1.5em; 
    font-family: Arial, Helvetica, sans-serif;  
}
.row h5 {
    color: #000 !important;
    font-size: 1em;
}
/* .one-half {
    padding: 10px;
    width: 40px;
    grid-gap: 10px;
    grid-template-columns: auto;
} */
/* .twoparts { 
    width: 500px; 
} */
a {
    color: #000000;
}
