body {
background-color: #b5a789;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
margin: 0px;
}
h1 {
    color: #954b4b;
    font-size: 120%;
}
#header {
    background-color: #675c47;
    margin: 10px;
    height: 108px;
}
#main {
    background: #efe5d0 url(images/background.gif) top left;
    padding: 15px;
    font-size: 105%;
    margin: 0px 10px 10px 10px;
}
#sidebar {
    background-color: #efe5d0 url(images/background.gif) bottom right;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    font-size: 105%;
}
.beanheading {
    text-align: center;
    line-height: 1.8px;
}
.slogan {
    color: #954b4b;
}
#footer {
    background-color: #675c47;
    margin: 10px;
    height: 50px;
    text-align: center;
    color: #efe5d0;
}
a:link {
    color: #b76666;
    text-decoration: none; /*none pro*/
    border-bottom: thin dotted;
}